.sub-heading{
    size: 26px;
}
.white{
    color: white;
}
.center{
    text-align: center;
}

.Box-f{
    display: flex;
}

.SideBar{
    min-width: 200px;
    width: 100%;
    background: url(./bgimage.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    padding: 16px;
    min-height: 100vh;
}

.RadioCategory{
    color: white;
}
.RadioCategory:checked{
    color: orangered !important;
}
.RadioCategory:focus{
    color: orangered !important;
}
.inline{
    display: inline-block !important;
}
.fixed{
    position: fixed;
    top: 80px;
    padding: 20px;
}

.badgedeadline{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 12px;
}

@media only screen and (max-width: 600px) {
    .fixed{
        position: relative;
        padding: 0;
        top: 0;
    }
  }