.sub-heading{
    size: 26px;
}
.white{
    color: white;
}
.center{
    text-align: center;
}

.Box-f{
    display: flex;
}

.SideBar{
    min-width: 200px;
    width: 100%;
    background-color: #f945ff;
    padding: 16px;
}

.RadioCategory{
    color: white;
}
.RadioCategory:checked{
    color: orangered !important;
}
.RadioCategory:focus{
    color: orangered !important;
}
.inline{
    display: inline-block;
}
.fixed{
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    padding: 20px;
}